# Ignore Python virtual environment
.venv/

# Ignore Python cache
__pycache__/
*.pyc

# VSCode settings (if you use it)
.vscode/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# macOS junk
.DS_Store
